<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sandwind.onedemo">

    <!-- 开放用户允许访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> -->
    <!-- <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/> -->
    <!-- <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FirstActivity"
            android:label="FirstActivity"
            android:launchMode="singleTop">

            <!-- //intent-filer 表示的是主活动 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.sandwind.onedemo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- <provider -->
        <!-- android:name="android.support.v4.content.FileProvider" -->
        <!-- android:authorities="com.example.sandwind.onedemo.fileprovider" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true"> -->
        <!-- &lt;!&ndash;<meta-data&ndash;&gt; -->
        <!-- &lt;!&ndash;android:name="android.support.FILE_PROVIDER.PATHS"&ndash;&gt; -->
        <!-- &lt;!&ndash;android:resource="@xml/file_paths"/>&ndash;&gt; -->
        <!-- </provider> -->

        <activity
            android:name=".SecondActivity"
            android:launchMode="singleInstance">

            <!--
        //昨日未能使用隐式跳转页面成功原因:intent-filter少写了一个 "t" 字母
        //使用intent的隐式构造函数，将action的字符串传进去，表示我们要启动<action />标签中的活动
            -->
            <intent-filter>
                <action android:name="com.example.sandwind.onedemo.JUMP" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.sandwind.onedemo.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity android:name=".ThirdActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".FourActivity">
            <intent-filter>
                <action android:name="com.example.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity android:name=".FiveActivity" />
        <activity android:name=".NewsContentActivity"></activity>
    </application>

</manifest>